<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Articles", root_path, class: "links" %>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
  </div>
</nav>