<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5>New Article</h5></div>
  <div class="card-body">
    <h6 class="card-title"><%= render "form", article: @article %></h6>
    <p class="card-text"></p>
  </div>
</div>
